.main-about {
  text-align: center;
  transition: 0.3s ease-in-out all;
  font-size: 1.3rem;
}

.self-img-container {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.self-img {
  border: 0.4rem solid gray;
  border-radius: 500px;
}

.about-content {
  margin: 0 auto;
  width: 60vw;
}
