.form-main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  gap: 2rem;
}

.contact-socials {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-socials .social-icon {
  font-size: 1.5rem;
  vertical-align: -0.45rem;
  margin-right: 0.5rem;
}

.contact-socials a {
  color: #f2b705;
  transition: 0.3s ease-in-out all;
}

.contact-socials a:visited {
  color: #f2b705;
}

.contact-socials a:hover {
  color: #f29f05;
}

.contact-social {
  padding: 0.5rem 0;
}

.contact-form {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

.form {
  padding: 2rem 3rem;
  border: 1px solid black;
  border-radius: 5px;
  width: 100%;
}

.form-required {
  color: gray;
  font-size: 0.7rem;
}

.form label {
  margin-bottom: 0.5rem;
  font-weight: 700;
}

.form input,
.form textarea {
  padding: 0.3rem 0.5rem;
  font-family: "Slabo 13px", serif;
}

.form textarea {
  min-height: 5rem;
}

.form-row {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
}

.submit-btn {
  display: block;
  width: 100%;
  background-color: #049dbf;
  padding: 0.5rem;
  border-radius: 5px;
  font-weight: 700;
  text-transform: uppercase;
  transition: 0.3s ease-in-out all;
}

.submit-btn:hover {
  background-color: #0378a6;
  color: white;
}

.contact-spacer {
  height: 5vh;
}

@media screen and (max-width: 992px) {
  .form-main {
    grid-template-columns: 1fr;
  }

  .form {
    padding: 2rem 1rem;
  }

  .contact-form {
    padding: 0;
  }

  .contact-spacer {
    height: 0;
  }
}
