.hero {
  padding: 2rem 0;
  background-color: #049dbf;
  text-align: center;
  justify-content: center;
  height: auto;
  transition: 0.3s ease-in-out;
  background-image: url("../images/sergey-shmidt-koy6FlCCy5s-unsplash.jpg");
  background-size: cover;
  background-position: 50% 50%;
}

.hero h1 {
  margin: 0;
  padding: 0;
  border-bottom: 3px solid #202426;
  letter-spacing: 0.1rem;
}

.hero h3 {
  margin-top: 0.5rem;
  letter-spacing: 0.1rem;
}

.hero-content {
  margin: 0 auto;
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 60vw;
  gap: 3rem;
}

@media screen and (max-width: 992px) {
  .hero {
    height: auto;
  }

  .hero-content {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
}
