.resume-title-group {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 3rem;
}

.resume-download-btn {
  display: flex;
  flex-direction: row;
  background-color: #049dbf;
  border-radius: 5px;
  padding: 0.5rem 0.7rem;
  transition: 0.3s ease-in-out all;
  font-weight: 700;
}

.resume-download-btn:hover {
  background-color: #0378a6;
  color: white;
}

.resume-download-icon {
  margin-left: 0.27rem;
  margin-top: 0.2rem;
}

.resume-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem 3rem;
}

.grid-group {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

.resume-block h3,
.resume-block h4 {
  margin-bottom: 0;
}

.resume-block h4 {
  margin-top: 0;
}

.resume-block p {
  margin-top: 0.3rem;
}

.resume-block-title {
  border-bottom: 1px solid black;
}

.resume-block-subtitle {
  margin-bottom: 0.3rem;
}

@media screen and (max-width: 992px) {
  .resume-download-btn {
    margin: 0 auto;
  }

  .resume-content {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .grid-group {
    gap: 0;
  }
}

@media screen and (max-width: 660px) {
  .resume-title-group {
    flex-direction: column;
    gap: 0;
  }

  .resume-title {
    text-align: center;
  }

  .resume-download-btn {
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }

  .resume-intro {
    text-align: center;
  }
}
